.shop {
  padding: 0;
}

/* ===== HERO ===== */


.hero {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}


.heroImage {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.heroImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  background: rgba(166, 166, 166, 0.4);
  z-index: 0;
}

.heroImage video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heroText {
  padding: 1.2rem;
  text-align: center;
  font-weight: 900;
  position: relative;
  z-index: 1;
  color: #fff;
}

.heroLine {
  width: 30%;
  margin: 0.5rem auto;
}
.heroText h2 {
  font-size: 4rem;
  font-family: var(--banner2-font);
  letter-spacing: 1rem;
  font-weight: 900;
  width: 98%;
  font-size: clamp(2.2rem, 6vw, 4rem);
  letter-spacing: clamp(0.3rem, 2vw, 1rem);
}

.slim {
  font-weight: 300;
  font-size: 1.2rem;
  padding: 2.5rem 0;
  font-family: var(--banner3-font);
  word-spacing: 0.8rem;
}

.bold {
  font-weight: 700;
  font-family: var(--banner4-font);
  font-size: 1.5rem;
}

.heroSideImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroSideImage img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.heroSideImage video {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ===== BANNER ===== */
.banner {
  display: flex;
  justify-content: space-around;
  text-align: center;
  /*margin-bottom: 4rem;*/
  font-size: 1.5rem;
  background: rgba(5, 5, 5, 0.1);
  padding: 3rem 2rem;
  position: relative;
  z-index: 5;
}

.banner div {
  padding: 2.5rem 2rem;
  position: relative;
  z-index: 10;
}

.bannerMiddle {
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
}

/* ===== CONTENT ===== */

/* ===== STICKY SHOP SECTION ===== */

.bgImage {
  position: absolute;
  inset: 0;
  background-image: url("../assets/ShopImages/PEN5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  z-index: 0;
}



/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .stickySection {
    height: auto;
  }

  .content {
    position: relative;
    height: auto;
    flex-direction: column;
  }

  .grid {
    height: auto;
    overflow: visible;
    grid-template-columns: repeat(2, 1fr);
  }

  .categories {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .banner {
    flex-direction: column;
    
  }

  .banner {
    font-size: 1.5rem;
    padding: 1rem 1rem;
  }
  .banner p {
    font-size: 1.2rem;
  
  }

  .banner div {
    padding: 1rem 0rem;
  }

  .bannerMiddle {
    border-left: none;
    border-right: none;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
  }
}

@media (max-width: 500px) {
  .hero {

  height: 80vh;

}
  .grid {
    grid-template-columns: 1fr;
  }

  .featured {
    grid-column: span 1;
  }
  .heroImage {
  height: 100%;
 
}

}

/* Landscape mode */
@media (orientation: landscape) and (max-width: 1024px) {
  .heroImage {
    height: 100%;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  .featured {
    grid-column: span 2;
  }
}
