.header {
  background: rgba(5, 5, 5, 0.08);
  backdrop-filter: blur(6px);
  padding-bottom: 1.5rem;
}




.headerTop {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.3rem 3rem 0.3rem 1.2rem;
}

.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.logoWrapper {
  display: flex;
  justify-content: center;
}

.logoWrapper img {
  width: 120px;
  height: auto;
  object-fit: contain;
}



.contactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 1.2rem;

  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;

  color: #7f56d9;
  border: 1.5px solid #7f56d9;
  transition: all 0.3s ease;
}

.contactBtn {
  justify-self: end;
}

.contactBtn:hover {
  background: #7f56d9;
  color: #fff;
  transform: translateY(-1px);
}





.headerTitle {
  text-align: center;
  padding: 0.5rem 1rem;
}

.headerTitle h1 {
  font-family: var(--banner-font);
  font-size: clamp(2.4rem, 6vw, 3.6rem);
  font-weight: 400;
  letter-spacing: 0.12em;
}




.headerNav {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
  margin-top: 0.5rem;
}

.headerNav a,
.headerNav span {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--banner3-font);
  color: #222;
  position: relative;
}

.headerNav a::after,
.headerNav span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #7f56d9;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.headerNav a:hover::after,
.headerNav span:hover::after {
  width: 100%;
}




.mobileNav {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.97);
  backdrop-filter: blur(6px);

  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 1000;

}

.mobileNav.open {
  transform: translateX(0);
}


.closeBtn {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  background: none;
  border: none;
}

.mobileLinks {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mobileLinks span {
  font-size: 1.6rem;
  cursor: pointer;
  opacity: 0;
  transform: translateY(12px);
  animation: fadeUp 0.45s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 600px) {
  .headerTop {
    grid-template-columns: auto auto 1fr;
     padding: 0.2rem 1.2rem;

  }

  .menuBtn {
    display: block;
    grid-column: 1;
  }

  .logoWrapper {
    grid-column: 3;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
  }

  .contactBtn {
    display: none;
  }

  .logoWrapper img {
    width: 105px;
  }

  .headerTitle h1 {
    font-size: 2.6rem;
  }
}

