.shop {
  padding: 2rem 1rem;
}

/* ===== HERO ===== */
.hero {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}



.heroImage {
  flex: 1;
  background: url("./../assets/ShopImages/blueWaterBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}



.heroText {
  padding: 1.2rem;
  text-align: center;
}
.heroText h3 {
  font-size: 3.2rem;
  font-family: var(--banner4-font);
  font-weight: 300;
  width: 98%;
}

.slim {
  font-weight: 300;
  font-size: 2rem;
  padding: 2.5rem 0;
  font-family: var(--banner3-font);
}

.bold {
  font-weight: 700;
  font-family: var(--banner4-font);
  font-size: 1.5rem;
}

.heroSideImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroSideImage img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}


.heroImage,
.heroSideImage {
  min-height: 600px;
}



/* ===== BANNER ===== */
.banner {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1.5rem;
}

.banner div {
  padding: 1.5rem 2rem;
}

.bannerMiddle {
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
}

/* ===== CONTENT ===== */
.content {
  display: flex;
  gap: 2rem;
}

/* CATEGORY */
.categories {
  width: 25%;
  position: sticky;
  top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

.categories button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  font-size: 1.2rem;
}

.active {
  color: #ff4c29;
}

/* GRID */
.grid {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  background: transparent;
  transition: transform 0.4s ease;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.featured {
  grid-column: span 2;
}

.card img {
  width: 100%;
  display: block;
}

/* CONTROLS */
.controls {
  margin-top: 1rem;
}

.price {
  font-weight: 400;
}

.select{
  margin: 0.5rem 0;
}

.qty {
  display: flex;
  align-items: center;
  background-color: aquamarine;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
}

.qty input {
  width: 40px;
  text-align: center;
  border: none;
  font-size: 1rem;
}

.qty button {
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .categories,
  .grid {
    width: 100%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .featured {
    grid-column: span 1;
  }
}
